form {
	width: 300px;
	height: 300px;
}

input {
	border: 1px solid #CCC;
	margin-top: 0;
	padding: 8px;
	font: inherit;
	outline: none;
	margin-top: 2px;
}

input[type=text],
input[type=password] {
	width: 280px;
	float: left;
}

input[type=submit] {
	height: 38px;
	float: right;
}

input:focus {
	outline: none;
}

input:required {
	box-shadow: none;
}
