@import url(http://fonts.googleapis.com/css?family=Lato:300,700,300italic,700italic);

body {
	/*background: #404853;*/
	font-family: 'Lato', sans-serif;
	color: #555;
	margin: 0;
	padding: 80px 50px;
}

a {
	color: #9900FF;
	text-decoration: none;
	transition: all 0.3s linear;
}

a:hover {
	color: #000;
}

nav ul, #buttons ul {
	margin: 0;
	padding: 0;
}

nav li, #buttons li {
	display: inline;
	float: left;
	font-size: 20px;
}

nav li {
	margin-right: 40px;
	text-transform: uppercase;
}

#buttons {
	position: fixed;
	bottom: 0;
	right: 0;
}

#buttons li {
	padding: 0;
	margin-right: 16px;
	margin-bottom: 16px;
	height: 26px;
	width: 26px;
}

#buttons a {
	display: block;
	background: black;
	width: inherit;
	height: inherit;
}

article, footer, nav {
	position: relative;
	width: 680px;
	border-left: 1px solid #CCC;
	padding: 0 250px 60px 50px;
	margin: 0 auto;
}

nav {
	padding-bottom: 80px;
}

footer {
	font-size: 13px;
	padding-bottom: 0;
}

.meta {
	position: absolute;
	left: -23px;
	top: -16px;
	width: 48px;
	background: #FFF;
	padding: 10px 0;
	text-transform: uppercase;
	text-align: center;
	font-size: 13px;
	color: #000;
}

#errors, #messages {
	position: absolute;
	left: 50%;
	top: 0;
	width: 400px;
	text-align: center;
	margin-left: -200px;
	padding: 5px;
}

#errors h4, #messages h4 {
	margin: 0;
	padding: 0;
}

#errors {
	background: #FFC2C2;
}

#messages {
	background: #DAFFD5;
}
